@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:'Roboto', sans-serif;
  background: rgb(51, 51, 51);
}
/* --------------------------------------------------------------------------- */
.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-left: auto;
  margin-right: auto;
  max-width: 75%;
  border-radius: 10px;
  margin-top: 3%;
}

/* --------------------------------------------------------------------------- */

.side-container {
  display: flex;
  flex-direction: column;
  color: rgb(226, 226, 226);
}

.side-container h1 {
  font-size: 1.6rem;
}

.side-container-top {
  border-top-left-radius: 10px;
  padding: 2rem;
  background: #2f2fa2;
  height: 33%;
  text-align: left;
}


.side-container-bottom {
  border-bottom-left-radius: 10px;
  padding: 2rem;
  background:#2f2fa2;
  height: 100%;
  text-align: left;
}

/* --------------------------------------------------------------------------- */

.form-container {
  background: rgb(255, 255, 255);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.header {
  margin: 1rem 3rem;
  font-weight: lighter;
  color: #333;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 1rem 3rem;
  color: #333;
}

.form label {
  padding: .5rem 0;
}

.form input {
  padding: 10px;
  border: none;
  border-bottom: 1px solid #333;
}

button {
  display: block;
  font-size: 1.2rem;
  background: #242582;
  border: none;
  color: #fff;
  padding: 10px 30px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4), 0 3px 6px rgba(0, 0, 0, 0.5);
}

button:hover {
  background: #0d0f58;
  transform: scale(1.01);
  transition: 0.4s ease-in-out;
}

.form-control i {
  visibility: hidden;
}

small {
  visibility: hidden;
}