@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:'Montserrat', sans-serif;
  background: rgb(51, 51, 51);
}
/* --------------------------------------------------------------------------- */
.form-container {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
  border-radius: 10px;
  margin-top: 2%;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.header {
  margin: 1rem 3rem;
  font-weight: lighter;
  color: #333;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin: .5rem 3rem;
  color: #333;
}

.form-control label {
  display: inline-block;
  padding: .25rem 0;
}

.form-control input {
  display: block;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #333;
}

.form-control.success input {
	border-color: #2ecc71;
}

.form-control.error input {
	border-color: #e74c3c;
}

button {
  display: block;
  font-size: 1.2rem;
  background: #242582;
  border: none;
  color: #fff;
  padding: 10px 30px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4), 0 3px 6px rgba(0, 0, 0, 0.5);
}

button:hover {
  background: #080b49;
  transition: 0.4s ease-in-out;
}
.form-control i {
  visibility: hidden;
  margin-top: -20px;
  align-self: flex-end;
}

.form-control small {
  color: #e74c3c;
  visibility: hidden;
  margin-top: 10px;
  margin-bottom: 0;
}

.form-control.success i.fa-check-circle {
  visibility: visible;
  color: #2ecc71;
}

.form-control.error i.fa-exclamation-circle {
  visibility: visible;
  color: #e74c3c;
}
 
.form-control.error small {
  visibility: visible;
} 